body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Lora', serif; */
    
    
}

.navalert-container{

}

.discount-banner{
    border: 0;
    background-color: #f3c643c7;
    border-radius: 0;
    padding: 7px;

}

nav {
    background-color: #585657;
}

.navbar-brand{
    margin: 0;
}

.navbar-toggler {

    border-color: transparent;
}



.callout-container{
    height: 90vh;

    background: url(../images/cover4-edited.jpg) no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0D0D0D;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

@media (max-width: 768px) {
   .callout-container{
    height: 80vh;
   }
}

.callout-header{
    color: white;
    background-color: black;
    font-weight: bold;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.shop-container{

}

.modal{
    font-family: 'Lato', sans-serif;
}

#contact-button{
    color: #585657;
}

.callout .btn:hover {
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
    color: seagreen;
    background-color: white;
    border-color: seagreen;
}

.callout .btn{
    background-color: seagreen;
    color: white;
    border-style: solid;
    border-width: 3px;
}


