body {
    font-family: 'Noto Sans', sans-serif;
    /* font-family: 'Lora', serif; */
    
    
}

/* containers */

.content-container{
    padding: 120px 0px;
}

.callout-container{
    height: 90vh;

    background: url(../images/cover4-edited.jpg) no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0D0D0D;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

@media (max-width: 768px) {
   .callout-container{
    height: 80vh;
   }
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.shop-container{

}


/* navigation bar */

.navalert-container{

}

.discount-banner{
    border: 0;
    background-color: #f3c643c7;
    border-radius: 0;
    padding: 7px;

}

.navbar {
    background-color: #585657;
    border-bottom: solid;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1.5px;
    border-top: solid;
    border-top-color: whitesmoke;
    border-top-width: 1.75px;
} 

.navbar-brand{
    margin: 0;
}

.nav-item a{
    letter-spacing: 0.75px;
    color: white;
}
    
.nav-item a:hover{
    color: seagreen;
}

.navbar-nav .nav-item .active{
    background-color: none;
    text-decoration: underline;
}

#contact-button{
    color: #585657;
}

/* navbar toggler */
body > div.container-fluid.navalert-container.p-0.m-0 > nav > div > button{
    border: none;
    color: transparent;
}

.nav-item #contact-button:hover{
    background-color: seagreen;
    color: white;
    border-color: seagreen;
}


/* modal */

.modal{
    font-family: 'Lato', sans-serif;
}


/* headers */

.callout-header{
    color: white;
    background-color: black;
    font-weight: bold;
}

.page-header h2{
    /* text-transform: uppercase; */
    text-align: center;
    margin-bottom: 4rem;
    font-size: 40px;

}


/* buttons */



.callout .btn:hover {
    font-weight: 500;
    border-style: solid;
    border-width: 3px;
    color: seagreen;
    background-color: white;
    border-color: seagreen;
}

.callout .btn{
    background-color: seagreen;
    color: white;
    border-style: solid;
    border-width: 3px;
}