body {
    font-family: 'Noto Sans', sans-serif;    
}



/* containers */

.content-container{
    padding: 10vh 0px;
}

.callout-container{
    height: 90vh;

    background: url(../images/cover4-edited.jpg) no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0D0D0D;

    display: flex;
    align-items: center;
    justify-content: left;

    position: relative;
}

@media (max-width: 768px) {
   .callout-container{
    height: 80vh;
   }
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}




/* navigation bar */
.navalert-container{
}

.discount-banner{
    border: 0;
    background-color: #f3c643c7;
    border-radius: 0;
    padding: 7px;
}

.navbar {
    background-color: #585657;
    border-bottom: solid;
    border-bottom-color: rgba(182, 182, 182, 0.496);
    border-bottom-width: 1px;
} 

.navbar-brand{
    margin: 0;
}

.nav-item a{
    letter-spacing: 0.75px;
    color: white;
}
    
.nav-item a:hover{
    color: seagreen;
}

.navbar-nav .nav-item .active{
    background-color: none;
    text-decoration: underline;
}

#contact-button{
    color: #585657;
}

/* navbar toggler */
body > div.container-fluid.navalert-container.p-0.m-0 > nav > div > button{
    border: none;
    color: transparent;
}

.nav-item #contact-button:hover{
    background-color: seagreen;
    color: white;
    border-color: seagreen;
}



/* shop */
.shop-container .shop-item a{
    color: black;
    text-decoration: none;
}
.shop-container .shop-item-title{
    color: black;
    padding-top: 4px;
}
.shop-container .shop-item-price{
    color: seagreen;
    font-size: 19px;
}
.shop-item img{
    transition: 0.3s all;
}
.shop-item:hover img{
    opacity: 0.5;
}





/* modal */
.modal{
    font-family: 'Lato', sans-serif;
}



/* headers */
.callout-header{
    color: white;
    background-color: black;
    font-weight: bold;
}

.page-header h2{
    font-size: 40px;
}

.page-header{
    text-align: center;
    margin-bottom: 35px;
}



/* block dividers */
.block-divider{
    width: 200px;
    height: 4px;
    border-color: seagreen;
    background-color: seagreen;
    border-width: 1px;
    border-style: solid;
    margin:auto;
}



/* buttons */
.callout .btn{
    background-color: seagreen;
    color: white;
    border-style: solid;
    border-width: 0px;
}

.callout .btn:hover {
    border-style: solid;
    border-width: 0px;
    color: seagreen;
    background-color: white;
    border-color: white;
}


/* footer */
.footer{
    background-color: seagreen;
    height: 40vh;
}
.footer .social-media{
    font-size: 40px;
    color: white;
    letter-spacing: 11px;
}
.footer-image{
    padding: 20px;
    height: 200px;
    width: 200px;
    color: white;
    
}
.footer-image img{
    border-radius: 50%;
    width: 100%;
}